<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%- title %></title>
	<link rel="shortcut icon" href="https://findicons.com/files/icons/1254/flurry_system/256/movies.png" type="image/png" />
	<link rel="manifest" href="/manifest.json"> 
	<script defer src="/index.js"></script>
	<link rel="stylesheet" href="/index.css">
</head>
<body>
<header>
	<form method="get" action="/movies/search">
		<label>
			search
			<input type="search" name="query">
		</label>
	</form>
	<a href="/movies/genres">Genres</a>
</header>
<main>